[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hexFinder"]
	path = hexFinder
	url = https://github.com/pedrocoutinhosilva/hexfinder
[submodule "imola"]
	path = imola
	url = https://github.com/pedrocoutinhosilva/imola
[submodule "shiny.pwa"]
	path = shiny.pwa
	url = https://github.com/pedrocoutinhosilva/shiny.pwa
